body {
  font-family: "ヒラギノ明朝 ProN";
  line-height: 1.5;
  opacity: 1;
}

a {
  color: #333;
}

.inner {
  max-width: 1200px;
  margin: 0 40px;
}

header {
  max-width: 1200px;
}

.header-area {
  display: flex;
  align-items: center;
  height: 70px;
  /* position: fixed; */
  z-index: 1000;
}

.header-logo img {
  width: 120px;
  height: 22px;
}

.header-nav {
  margin-left: auto;
}

.header-nav-lists {
  display: flex;
}

.header-nav-list {
  font-size: 16px;
  margin-left: 48px;
  color: #000;
}

.header-hero-area {
  position: relative;
}

.header-hero-img {
  margin-top: 70px;
  width: 990px;
  height: 660px;
  background-image: url(../img/top.png);
  margin-left: auto;
  /* position: relative; */
}

.header-txt-area {
  width: 330px;
  height: 330px;
  background-color: #fff;
  color: #333;
  position: absolute;
  top: 30%;
}

.header-txt {
  margin-top: 92px;
  font-size: 26px;
}

.header-txts {
  margin-top: 28px;
  font-size: 16px;
}

/* ===== concept ========*/

.concept {
  width: 1200px;
  height: 520px;
  margin-top: 160px;
}

.section-title {
  font-size: 40px;
  font-weight: bold;
  color: #333333;
  text-align: center;
  opacity: 1;
  position: relative;
}

/*下線*/

.section-title:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -15px;
  /*線の上下位置*/
  display: inline-block;
  width: 60px;
  /*線の長さ*/
  height: 2px;
  /*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  /*位置調整*/
  background-color: #3ea1d1;
  /*線の色*/
  border-radius: 2px;
  /*線の丸み*/
}

.concept-area {
  display: flex;
}

.concept-img img {
  width: 600px;
  height: 400px;
  margin-top: 80px;
}

.concept-txt-area {
  display: block;
}

.concept-txtl {
  font-size: 20px;
  width: 320px;
  height: 54px;
  margin-top: 232px;
  margin-left: 79px;
  opacity: 1;
}

.concept-txts {
  font-size: 16px;
  width: 521px;
  height: 75px;
  margin-top: 48px;
  margin-left: 79px;
  opacity: 1;
  letter-spacing: 0px;
}

/* ===== feature ========*/

.feature {
  width: 1200px;
  height: 467px;
  margin-top: 160px;
}

.feature-img-area {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.feature-img-area li {
  box-shadow: 3px 3px 15px #60606029;
  padding-bottom: 40px;
}

.feature-img-area img {
  width: 340px;
  height: 240px;
  opacity: 1;
  margin-bottom: 32px;
}

.feature-img-area p {
  font-size: 16px;
  opacity: 1;
  text-align: center;
}

/* ====== message ======= */

.message {
  width: 1280px;
  height: 478px;
  background-image: url(../img/bg.png);
  background-position: 24% center;
  background-size: cover;
  position: relative;
  margin-top: 160px;
}

.message-txtl {
  width: 374px;
  height: 59px;
  font-size: 22px;
  color: #fff;
  position: absolute;
  top: 128px;
  margin-left: 40px;
}

.message-txts {
  width: 590px;
  height: 128px;
  font-size: 16px;
  color: #fff;
  position: absolute;
  top: 225px;
  margin-left: 40px;
}

/* ======  product  ====== */

.product {
  width: 940px;
  height: 592px;
  margin-top: 160px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 160px;
}

.product-img-area {
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
}

.product-img img {
  width: 260px;
  height: 260px;
}

.product-txt-area {
  width: 260px;
  height: 62px;
  margin-top: 24px;
}

.product-price {
  font-size: 14px;
  color: #989898;
  margin-top: 16px;
}

.product-more {
  margin: 0 auto;
  margin-top: 48px;
  width: 157px;
  height: 46px;
  color: #3ea1d1;
  border: solid 1px #3ea1d1;
  text-align: center;
  line-height: 46px;
}

/* ======= news ============ */

.news {
  width: 1040px;
  height: 796px;
  margin-top: 160px;
  margin: 0 auto;
  margin-bottom: 160px;
}

.news-area {
  width: 1040px;
  height: 184px;
  border-bottom: solid 0.5px rgb(233, 233, 233);
  display: flex;
  margin-top: 33px;
}

.news-area img {
  width: 260px;
  height: 160px;
}

.news-txt-area {
  margin-left: 40px;
}

.news-txt-day {
  font-size: 14px;
  margin-top: 25px;
  color: #888888;
}

.news-txtl {
  font-size: 18px;
  margin-top: 10px;
  color: #333;
}

.news-txts {
  font-size: 14px;
  color: #888888;
  margin-top: 10px;
  line-height: 1.8;
}

/* =====  message2 ======== */

.message2 {
  width: 1200px;
  height: 400px;
  margin: 0 auto;
  position: relative;
  display: flex;
  margin-bottom: 225px;
}

.message2-txtl {
  font-size: 28px;
  width: 394px;
  height: 74px;
  color: #333333;
  position: absolute;
  top: 102px;
}

.message2-txts {
  width: 520px;
  font-size: 16px;
  height: 72px;
  color: #333;
  position: absolute;
  top: 226px;
}

.message2-img {
  margin-left: auto;
}

.message2-img img {
  width: 600px;
  height: 400px;
}

/* ====== contact ====== */

.contact {
  width: 1280px;
  height: 800px;
  margin: 0 auto;
  background: url(../img/contact.png);
  background-position: 24% center;
  background-size: cover;
}

.contact .section-title {
  padding-top: 72px;
  color: #3ea1d1;
}

.contact-txt {
  font-size: 14px;
  text-align: center;
  margin-top: 60px;
}

.contact-txt span {
  color: #e7728e;
  font-size: 16px;
}

.form-area {
  width: 510px;
  margin: 0 auto;
  margin-top: 24px;
}

.contact-item {
  display: flex;
  margin-bottom: 32px;
}

.contact-item-title {
  width: 180px;
  height: 40px;
  background-color: #3ea1d1b3;
  color: #fff;
  font-size: 18px;
  text-align: center;
  line-height: 40px;
  margin-right: 10px;
}

.contact-inputBox .js-require {
  width: 320px;
  height: 40px;
}

.contact-inputBox #form-email {
  width: 320px;
  height: 40px;
}

.contact-message textarea {
  width: 320px;
  height: 122px;
}

.contact-item .radio {
  display: flex;
}

.contact-privacy {
  text-align: center;
}

.contact-privacy span {
  color: #3ea1d1;
  font-size: 16px;
}

.contact-button {
  width: 137px;
  height: 46px;
  background-color: #fff;
  color: #3ea1d1;
  border: 1px solid #3ea1d1;
  margin-top: 51px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* ======== footer ======= */

footer {
  width: 1280px;
  height: 220px;
  background-color: #f7f7f7;
  margin: 0 auto;
}

.footer-logo {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.footer-logo img {
  width: 120px;
  height: 22px;
}

.footer-txt-area {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.footer-txt-area p {
  font-size: 12px;
  color: #333333;
  margin-right: 32px;
}

.footer-sns-area {
  display: flex;
  justify-content: center;
  margin-top: 37px;
}

.footer-twitter {
  width: 22px;
  height: 22px;
  background-color: pink;
}

.footer-insta {
  width: 22px;
  height: 22px;
  background-color: pink;
  margin-left: 40px;
}

.footer-line {
  width: 22px;
  height: 22px;
  background-color: pink;
  margin-left: 40px;
}

.footer-company {
  color: #333333;
  font-size: 12px;
  text-align: center;
  margin-top: 24px;
}
